@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  line-height: 180%;
  color: white;
  text-align: center;
  scroll-behavior: smooth;
}
#pf1 {
  z-index: 1;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.30);
  background: black;
  color: white;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  height: auto;
  width: auto;
}
.cb1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
#pf1 input {
  width: 300px;
}
#pf1 h3 {
  text-align: center;
}
#pf1 p {
  text-align: left;
}
#pf1.active {
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}
.video {
  border: none;
  margin-left: auto;
  margin-right: auto;
}
.specific {
  font-size: 14px;
}
.specific a:link, .specific a:visited, .specific a:active {
  color: #ffd0b6;
}
::-webkit-scrollbar {
  width: 0;
}
.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}
.fade-in.appear {
  opacity: 1;
}
.pr1 {
  font-size: 12px;
}
.nav {
  z-index: 1;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 4vh;
  overflow: hidden;
  width: 100%;
  position: fixed;
}
.nav ul {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 80%;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 12px;
}
.nav li {
  list-style: none;
  cursor: pointer;
}
.nav li a {
  text-decoration: none;
}
a:link, a:visited, a:active {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: underline;
  color: white;
}
.s1, .s2, .s3, .s4, .s5 {
  color: white;
  background-color: black;
  overflow: auto;
  padding: 50px 80px;
}
.tbox1 {
  margin-left: auto;
  margin-right: auto;
}
.t1 {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  overflow: hidden;
  box-shadow: 0 0 1px;
  margin-left: auto;
  margin-right: auto;
}
#r1 a {
  color: #ffd0b6;
  font-weight: bold;
}
.t1 tr {
  text-align: left;
}
.t1 th, .t1 td {
  padding: 12px 15px;
}
.t1 tbody tr:nth-of-type(even) {
  background-color: #202020;
}
.t1 a {
  color: #ffd0b6;
  font-weight: bold;
}
.c1r {
  float: right;
  width: 42%;
  padding: 0 4%;
  text-align: right;
}
.c1r a {
  font-weight: bold;
  color: #ffd0b6;
}
.c1 {
  float: left;
  width: 42%;
  padding: 0 4%;
  text-align: justify;
}
.c1 a {
  font-weight: bold;
  color: #ffd0b6;
}
.rspace {
  margin-top: 20px;
  font-size: 14px;
  margin-bottom: 14px;
}
button {
  background-color: #202020;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}
#r1 ol li:before {
  content: counter(i);
  color: #ffd0b6;
  font-weight: bold;
  font-size: 18px;
  margin-right: 10px;
}
#r1 ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
  counter-increment: i;
  font-weight: bold;
}
#r1 ol {
  margin-left: auto;
  margin-right: auto;
  width: 42%;
  padding: 0 4%;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
}
/*#r1 ol {
  margin-left: auto;
  margin-right: auto;
  width: 8%;
  padding: 0 4%;
  text-align: left;
}
#r1 {
  height: 140px;
  overflow: hidden;
}*/
#r1 p {
  margin-left: auto;
  margin-right: auto;
  width: 42%;
  padding: 0 4%;
  text-align: justify;
  font-size: 14px;
}
.c2 ul {
  margin-left: auto;
  margin-right: auto;
  width: 42%;
  padding: 0 4%;
  text-align: left;
  font-size: 14px;
}
.c2 p {
  margin-left: auto;
  margin-right: auto;
  width: 42%;
  padding: 0 4%;
  text-align: justify;
  font-size: 14px;
}
.c2 p a {
  font-weight: bold;
  color: #ffd0b6;
}
.c3 p {
  margin-left: auto;
  margin-right: auto;
  width: 56%;
  padding: 0 4%;
  text-align: justify;
  font-size: 14px;
}
p {
  font-size: 14px;
}
.p1 {
  background: url(imgs/CloseTimeline1.png);
  min-height: 100%;
}
.p2 {
  background: url(imgs/SonyVegas.png);
  min-height: 60%;
}
.p3 {
  background: url(imgs/IanWilsonGrading.jpg);
  min-height: 60%;
}
.p4 {
  background: url(imgs/AETimeline.jpg);
  min-height: 60%;
}
.p5 {
  background: url(imgs/MicrosoftShatter.jpg);
  min-height: 60%;
}
#p1, #p2, #p3, #p4, #p5 {
  position: relative;
  opacity: 95%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.p1, .p2, .p3, .p4, .p5 {
  position: relative;
  opacity: 95%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h3 {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.s4 h3 {
  margin-top: 11px;
}
.h1 {
  position: absolute;
  font-size: 50px;
  top: 40%;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.h2, .h3, .h4, .h5 {
  position: absolute;
  top: 45%;
  width: 100%;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.cr5 {
  text-align: right;
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 10px;
}
@media (max-width: 1024px) {
  .h1 {
    font-size: 40px;
  }
  .h2, .h3, .h4, .h5 {
    font-size: 40px;
  }
  .c1 {
    width: 100%;
    padding: 0;
  }
  .c2 {
    width: 100%;
    padding: 0;
  }
  .c3 {
    width: 100%;
    padding: 0;
  }
  #r1 {
    width: 100%;
    padding: 0;
  }
  p {
    font-size: 14px;
  }
  ol {
    font-size: 14px;
  }
  .c1r {
    width: 100%;
    padding: 0;
    text-align: center;
  }
}
span {
  opacity: 0;
  transition: all 1s ease;
}
span.fade {
  opacity: 1;
}